@import '../../partials/colors';

.categories-container {
  display: flex;
  justify-content: center;

  .loader-container {
    margin-top: 50px;
    .message {
        font-size: 18px;
    }
  }

  .title {
    text-align: center;
  }

  .totalSum {
    text-align: left;
  }

  .categoryName {
    font-weight: 700;
  }

  .categoryTotal {
    text-align: right;
  }

  .noItemRecords {
    text-align: right;
  }

  table {
    border-collapse: collapse;
  }
    
  table, th, td {
      border: 1px solid $black;
  }

  th, td {
      padding: 15px;
      text-align: left;
  }

  tr:hover {
      background-color: $gray;
      cursor: pointer;
  }

  th {
      background-color: $primary-color;
      color: $white;
  }

  .deleteBtn {
    color: $red;
  }
}
